footer {
    padding: 20px;
    background-color: #06042c; 
    color: #fff;
    position: relative;
    z-index: 1;
    border-top: 2px solid #06042c; 
    font-family: "Lato", sans-serif;
}

footer p {
    margin: 0; 
    font-size: 1rem; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s; 
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}
